@tailwind base;
@tailwind components;
@tailwind utilities;

ul a.active {
    background-color: #FEC887;
}

input[type="checkbox"]:checked {
    background-color: #FEC887 !important;
}

input[type="checkbox"]:checked svg {
    color: #fff !important;
}

label {
    font-family: theme("fontFamily.inter");
}

.scroll-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scroll-hidden::-webkit-scrollbar {
    display: none;
}

/* html5Qrcode style*/
#QRCodeScanner__scan_region img {
    margin: 0 auto;
}

/* #html5-qrcode-anchor-scan-type-change {
    display: none;
} */
#QRCodeScanner__scan_region video:not(:nth-child(1)) {
    display: none !important;
}

#QRCodeScanner__dashboard_section_csr>span {
    display: none;
}

#QRCodeScanner__dashboard_section_csr>span:first-of-type,
#QRCodeScanner__dashboard_section_csr>span:nth-of-type(2) {
    display: block !important;
}